004_Week 4  --  Project 3 - DTD & XML/Project 3/employee.dtd

<!-- DTD document for employee.xml -->

<!ELEMENT employee ( emprecord+ )>

<!ELEMENT emprecord ( empno, ename, job, mgr, hiredate, sal, comm, deptno )>

<!ELEMENT empno ( #PCDATA )>
<!ELEMENT ename ( #PCDATA )>
<!ELEMENT job ( #PCDATA )>
<!ELEMENT mgr ( #PCDATA )>
<!ELEMENT hiredate ( #PCDATA )>
<!ELEMENT sal ( #PCDATA )>
<!ELEMENT comm ( #PCDATA )>
<!ELEMENT deptno ( #PCDATA )>